{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": true,
  "hasShippingEstimator": false
}
{%- endcapture -%}

<div id="sidebar-cart" class="Drawer Drawer--fromRight" aria-hidden="true" data-section-id="cart" data-section-type="cart" data-section-settings='{{ section_settings }}'>
  <form class="Cart Drawer__Content" action="{{ routes.cart_url }}" method="POST" novalidate>
    <div class="Drawer__Header Drawer__Header--bordered Drawer__Container">
      <span class="Drawer__Title Heading u-h4">CART BAG({{ cart.item_count  }})</span>

      <button class="btn-drawer-cart-close Icon-Wrapper--clickable" data-action="close-drawer" data-drawer-id="sidebar-cart" aria-label="{{ 'header.navigation.close_cart' | t }}">
        {%- render 'icon' with 'drawer-cart-close' -%}
      </button>
    </div>
    <div class="Drawer__Main" data-scrollable>
      {%- if settings.cart_show_free_shipping_threshold -%}
        {% render 'free-shipping' %}
      {%- endif -%}

      {%- if cart.item_count == 0 -%}
        <p class="Cart__Empty Heading u-h5">{{ 'cart.general.empty' | t }}</p>
      {%- else -%}
        <div class="Drawer__Container">
          <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
          <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

          {% render 'drawcart-items' %}
        </div>
      {%- endif -%}
    {%- unless cart.item_count == 0 -%}
      <div class="cart-drawer__Footer" data-drawer-animated-bottom>
        {%- capture shipping_and_taxes_notice -%}{{ 'cart.general.shipping_and_taxes_notice' | t }}{%- endcapture -%}

        {%- if settings.cart_enable_notes or shipping_and_taxes_notice != blank -%}
          {%- if settings.cart_enable_notes -%}
            {%- if cart.note == blank -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.add_note' | t }}</button>
            {%- else -%}
              <button type="button" class="Cart__NoteButton" data-action="toggle-cart-note">{{ 'cart.general.edit_note' | t }}</button>
            {%- endif -%}
          {%- endif -%}

          {%- if shipping_and_taxes_notice != blank -%}
            <p class="Cart__Taxes Text--subdued">{{ shipping_and_taxes_notice }}</p>
          {%- endif -%}

          {%- if cart.cart_level_discount_applications != blank -%}
            {%- for discount_application in cart.cart_level_discount_applications -%}
              <p class="Cart__Discount">{%- render 'icon' with 'sale' -%} {{ 'cart.general.discount' | t }} ({{ discount_application.title }}): -<span>{{ discount_application.total_allocated_amount | money }}</span></p>
            {%- endfor -%}
          {%- endif -%}
        {%- endif -%}

        <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full">
          <span>{{- 'cart.general.checkout' | t -}}</span>
          <span class="Button__SeparatorDot"></span>
          <span>{{ cart.total_price | money_with_currency }}</span>
        </button>

        {%- if settings.cart_enable_notes -%}
          <div class="Cart__OffscreenNoteContainer" aria-hidden="true">
            {%- if cart.note == blank -%}
              <span class="Cart__NoteButton">{{ 'cart.general.add_note' | t }}</span>
            {%- else -%}
              <span class="Cart__NoteButton">{{ 'cart.general.edit_note' | t }}</span>
            {%- endif -%}

            <div class="Form__Item">
              <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="3" placeholder="{{ 'cart.general.note_placeholder' | t }}" data-scrollable>{{ cart.note }}</textarea>
            </div>

            <button type="button" class="Button Button--primary Button--full" data-action="toggle-cart-note">{{ 'cart.general.save_note' | t }}</button>
          </div>
        {%- endif -%}
       
      </div>
    {%- endunless -%}
   
    </div>
  </form>
  {% if blocks != blank %}
    {%- capture flickity_options -%}
      {
        "prevNextButtons": true,
        "pageDots": false,
        "wrapAround": false,
        "contain": true,
        "cellAlign": "center",
        "watchCSS": true,
        "dragThreshold": 8,
        "groupCells": true,
        "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
      }
    {%- endcapture -%}
    <div class="cart-product-slider" >
      <h3 class="upsell-slider-title">You may also like</h3>
      <div js-upsell-product-slider>
        {% for block in blocks %}
          {%- render 'product-item', product: block.settings.product, show_product_info: true -%}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>